
*.exp
*.ilk
*.iobj
*.ipdb
*.opendb
ZhumuSdkEx/Build/.vs/*
ZhumuSdkEx/Build/ipch/*
ZhumuSdkEx/Build/ZhumuSdkEx.VC.db
ZhumuSdkEx/Bin/Win32/Debug/ZhumuSdkEx/*
ZhumuSdkEx/Bin/Win32/Debug/ZhumuSdkExDemo/*
ZhumuSdkEx/Bin/Win32/Release/ZhumuSdkEx/*
ZhumuSdkEx/Bin/Win32/Release/ZhumuSdkExDemo/*
ZhumuSdkEx/Bin/Win32/Debug/logs/*
ZhumuSdkEx/Bin/Win32/Release/logs/*
ZhumuSdkEx/Bin/x64/Debug/ZhumuSdkExDemo/*
ZhumuSdkEx/Bin/x64/Debug/ZhumuSdkEx/*
ZhumuSdkEx/Bin/x64/Release/ZhumuSdkExDemo/*
ZhumuSdkEx/Bin/x64/Release/ZhumuSdkEx/*
ZhumuSdkEx/Bin/x64/Debug/logs/*
ZhumuSdkEx/Bin/x64/Release/logs/*

ZhumuSdkProgress/.vs/*
ZhumuSdkProgress/.vs/*
ZhumuSdkProgress/ipch/*
ZhumuSdkProgress/Bin/Debug/ZhumuSdkProgress/*
ZhumuSdkProgress/Bin/Release/ZhumuSdkProgress/*


